html {
    box-sizing:border-box;
    background-color: white;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows:4rem 1fr 1rem;
    max-width: 55ch;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #1e6b7c;
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    background-image: url(./blossom.png);
    background-size: 800px;
    background-position: top left;
    background-repeat: no-repeat;
}

@media all and (max-width: 600px) {
    body {
        min-width: 100%;
    }
} 

#topic {
    font-family: 'Instrument serif', serif;
    font-weight: 300;
    font-size: 2.6rem;
}

#asu {
    font-family: 'Instrument serif', serif;
    font-weight: 300;
    font-size: 2.6rem;
    display: grid;
    grid-template-columns: 1.68fr 0.1fr 1fr;
}
#asu em{
    font-size: 4.2rem;
    align-self:center;
    background: radial-gradient(circle, black 30%, #FFFFFF43 60%, #FFFFFF00 70%), 
            repeating-conic-gradient(#00000088 0deg 1deg, transparent 1deg 3deg);
    border-radius: 50%;

    /*
    background-image: radial-gradient(circle, black 20%,#FFFFFF43 50%, #FFFFFF00 70%);*/
    margin-top: 0.4rem;
    padding-bottom: 0.6rem;
    padding-left: 0.6rem;
}

@media all and (max-width: 600px) {
    #asu, #asu em {
        font-size: 6vw;
        display: inline-block;
    }

}

#topic::before {
    content: "#";
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    font-weight: 600;
    margin-left: -1.2ch;
    padding-right: 0.2ch;
    color: #FFFFFFaa;
}


#subtopic {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 2rem;
}

#subtopic::before {
    content: "##";
    margin-left: -2.2ch;
    padding-right: 0.2ch;
    color: #FFFFFFaa;
}



#my-name {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: medium;
    font-size: 1.1rem;
    letter-spacing: -0.3ch;
    padding-right: 0.2ch;
}

#banner {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

#banner::after, #banner::before {
    content: "\2014";
    padding: 5px;
}

main {
    margin: 5rem 4rem;
}

main p {
    line-height: 1.16;
    margin-bottom: 1rem;
    text-align: justify;
}

footer {
    justify-self: right;
    margin-right: 2rem;
    font-size: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

@media all and (max-width: 600px) {
    ul {
        transition: gap 0.15s ease;
        flex-direction: column;
        gap: 0;
    }
}


a:hover {
    transition: background-color 0.15s ease;
    background-color:rgb(95, 165, 165);
}

embed {
    width: 100%;
    border-radius: 4%;
}