html {
    font-size: 20px;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#my-name {
    font-family: 'Zen Maru Gothic', sans-serif;
    letter-spacing: -0.2ch;
    font-size: 0.84rem;
    font-weight: 700;
    padding-right:0.1ch;
}

body {
    width: 50ch;
    margin: 0 auto;
    height: 100dvh;
    color: white;
}
main {
    padding: 8rem 4rem;
    min-height: 100%;
    background-color: #F34A4A; 
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 4rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #ffffff;
    font-weight: 700;
    background-color: #F34A4A;
}

@media (max-width: 700px) {
    body {
        width: 100%;
    }
    embed {
        width: 80vw;
    }
    main {
        padding: 4rem 2rem;
    }
    #banner {
        left:unset;
        right: -4rem;
        font-size: 2rem;
    }
}


p {
    text-align: justify;
    line-height: 1.25;
    margin-bottom: 0.6rem;
}

#topic {
    margin-top: 2rem;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

#topic::before {
    content: "#";
    margin-left: -1.2ch;
    padding-right: 0.2ch;

    color:#ffffffc4;
}

#subtopic {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

#subtopic::before {
    content: "##";
    margin-left: -2.2ch;
    padding-right: 0.2ch;
    letter-spacing: -0.1ch;
    color:#ffffffc4;
}

p {
    font-family: 'Newsreader', serif;
    font-size: 1rem;
    font-weight: 400;
}


a {
    font-family: 'Baskervville SC', serif;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.2ch;
    color: #F34A4A;
    padding: 2px;
    font-size: 0.95rem;
}

.contact-link {
    font-size: 0.96rem;
    color: #ffffff;
    font-weight: 500;
}

a:hover {
    transition: background-color 0.15s ease;
        background-color: #ffdfdf;
}

.contact-link:hover {
    transition: background-color 0.15s ease;
    background-color: #901a1a;
}

header ul {
    list-style: none;
}

header {
    position: fixed;
    top: 12.68rem;
    left: 18vw;
    z-index: 100;
}

@media all and (min-width: 1600px) {
    header {
        left: 22vw;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    header {
        left: 12vw;
    }
}

@media (max-width: 1200px) {
    header {
        top: 1rem;
        left: 2rem;
    }
    a {
        color: white;
    }

    a:hover {
        transition: background-color 0.15s ease;
        background-color: #901a1a;
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    font-weight: 500;
    color: white;
    background-color: #F34A4A;
    width: 100%;

}

footer p {
    font-family: 'Newsreader', serif;
    font-size: 0.7rem;
    text-align: right;
    padding: 1rem 4rem;
}

footer p::before {
    content: "\2014";
    padding-right: 1px;
}


#banner::before, #banner::after {
  content: "\2014";
  padding-right: 5px;
}

